<h1>Bubble Sort(Ordenamiento Burbuja)</h1>
El <b>bubble sort</b> o <b>ordenmiento burbuja</b> Es un algoritmo de ordenamiento considerdo basico por su facil implementacion, e intuicion.
Sin embargo es tambien de los mas lentos teniendo complejidad $O(N^{2})$ aunque no usa memoria extra.
<br/>
<br/>
<h3>Explicacion</h3>
<hr/>
Digamos que tenemos un arreglo de enteros <FONT COLOR="gray">(aunque funciona para cualquier clase de datos)</FONT> \(A\) de tamaño $N$, si queremos ordenarlo de menor a mayor,
lo que hace el bubble sort es muy parecido a el <a href="/selection-sort">Selection sort</a> sin embrgo es mas rapido el bubble sort con su version de validador. Pero que pasaria si en vez de buscar el mayor cada vez 
antes de ordenarlo, lo fueramos "arrastrando" hasta su lugar. Esto se refiere a que mientras recorremos el arreglo, llevamos un mayor temporal y lo vamos recorriendo junto con 
nosotros hasta que llegamos al lugar donde debe estar y repetimos el proceso hasta que todo este ordenado.
<br/>
Con un ejemplo estara mas claro:
<br/>
<br/>
<div style="font-size:0.95em">
Digamos que queremos ordenar el siguiente arreglo
<br/>
<br/>
<table border>
  <tr>
    <td>8</td>
    <td>3</td>
    <td>4</td>
    <td>7</td>
    <td>9</td>
    <td>2</td>
  </tr>
</table>
<br/>
Recorremos nuestro arreglo de izquierda a derecha empezando con el primer numero y al movernos a la siguiente posicion se compararan los dos numeros
<br/>
<br/>
<table border="">
  <tr>
    <td><FONT COLOR="red">8</FONT></td>
    <td>
      <FONT COLOR="red">3</FONT>
    </td>
    <td>4</td>
    <td>7</td>
    <td>9</td>
    <td>2</td>
  </tr>
</table>
<br/>
Y como 8 es el mayor de los dos lo intercambiamos con el 3
<br/>
<br/>
<table border="">
  <tr>
    <td>
      <FONT COLOR="red">3</FONT>
    </td>
    <td>
      <FONT COLOR="red">8</FONT>
    </td>
    <td>4</td>
    <td>7</td>
    <td>9</td>
    <td>2</td>
  </tr>
</table>
<br/>
 Y ahora comparamos el 8 con el 4 y asi
 <br/>
<br/>
<table border="">
  <tr>
    <td>
      3
    </td>
    <td>
      <FONT COLOR="red">8</FONT>
    </td>
    <td>
      <FONT COLOR="red">4</FONT>
    </td>
    <td>7</td>
    <td>9</td>
    <td>2</td>
  </tr>
</table>
<br/>
  <table border="">
    <tr>
      <td>
        3
      </td>
      <td>
        <FONT COLOR="red">4</FONT>
      </td>
      <td>
        <FONT COLOR="red">8</FONT>
      </td>
      <td>7</td>
      <td>9</td>
      <td>2</td>
    </tr>
  </table>
  <br/>
  <table border="">
    <tr>
      <td>
        3
      </td>
      <td>
        4
      </td>
      <td>
        <FONT COLOR="red">7</FONT>
      </td>
      <td>
      <FONT COLOR="red">8</FONT>
      </td>
      <td>9</td>
      <td>2</td>
    </tr>
  </table>
  <br/>
  <table border="">
    <tr>
      <td>
        3
      </td>
      <td>
        4
      </td>
      <td>
        7
      </td>
      <td>
      <FONT COLOR="red">8</FONT>
      </td>
      <td>
        <FONT COLOR="red">9</FONT>
      </td>
      <td>2</td>
    </tr>
  </table>
  <br/>
  <table border="">
    <tr>
      <td>
        3
      </td>
      <td>
        4
      </td>
      <td>
        7
      </td>
      <td>
        8
      </td>
      <td>
        <FONT COLOR="red">2</FONT>
      </td>
      <td>
        <FONT COLOR="red">9</FONT>
      </td>
    </tr>
  </table>
  <br/>
  Y despues volvemos a recorrer el arreglo deteniendonos en una posicion antes del final, ya que el 9 es el mayor de todos y por lo tanto ya no se va a mover.
  <br/>
<br/>
<table border="">
  <tr>
    <td>
      <FONT COLOR="red">3</FONT>
    </td>
    <td>
      <FONT COLOR="red">4</FONT>
    </td>
    <td>
      7
    </td>
    <td>
      8
    </td>
    <td>
      2
    </td>
    <td>
      9
    </td>
  </tr>
</table>
<br/>
  <table border="">
    <tr>
      <td>
        3
      </td>
      <td>
        <FONT COLOR="red">4</FONT>
      </td>
      <td>
        <FONT COLOR="red">7</FONT>
      </td>
      <td>
        8
      </td>
      <td>
        2
      </td>
      <td>
        9
      </td>
    </tr>
  </table>
  <br/>
  <table border="">
    <tr>
      <td>
        3
      </td>
      <td>
        4
      </td>
      <td>
        <FONT COLOR="red">7</FONT>
      </td>
      <td>
        <FONT COLOR="red">8</FONT>
      </td>
      <td>
        2
      </td>
      <td>
        9
      </td>
    </tr>
  </table>
  <br/>
  <table border="">
    <tr>
      <td>
        3
      </td>
      <td>
        4
      </td>
      <td>
        7
      </td>
      <td>
        <FONT COLOR="red">2</FONT>
      </td>
      <td>
        <FONT COLOR="red">8</FONT>
      </td>
      <td>
        9
      </td>
    </tr>
  </table>
  <br/>
  Repetimos el proceso otra vez, pero deteniendonos uno antes porque el 8 al igual que el 9 ya esta en su lugar.
  <br/>
  <br/>
  <table border="">
    <tr>
      <td>
        <FONT COLOR="red">3</FONT>
      </td>
      <td>
        <FONT COLOR="red">4</FONT>
      </td>
      <td>
        7
      </td>
      <td>
        2
      </td>
      <td>
        8
      </td>
      <td>
        9
      </td>
    </tr>
  </table>
  <br/>
  <table border="">
    <tr>
      <td>
        3
      </td>
      <td>
        <FONT COLOR="red">4</FONT>
      </td>
      <td>
        <FONT COLOR="red">7</FONT>
      </td>
      <td>
        2
      </td>
      <td>
        8
      </td>
      <td>
        9
      </td>
    </tr>
  </table>
  <br/>
  <table border="">
    <tr>
      <td>
        3
      </td>
      <td>
        4
      </td>
      <td>
        <FONT COLOR="red">2</FONT>
      </td>
      <td>
        <FONT COLOR="red">7</FONT>
      </td>
      <td>
        8
      </td>
      <td>
        9
      </td>
    </tr>
  </table>
  <br/>
  <table border="">
    <tr>
      <td>
        <FONT COLOR="red">3</FONT>
      </td>
      <td>
        <FONT COLOR="red">4</FONT>
      </td>
      <td>
        2
      </td>
      <td>
        7
      </td>
      <td>
        8
      </td>
      <td>
        9
      </td>
    </tr>
  </table>
  <br/>
  <table border="">
    <tr>
      <td>
        3
      </td>
      <td>
        <FONT COLOR="red">2</FONT>
      </td>
      <td>
        <FONT COLOR="red">4</FONT>
      </td>
      <td>
        7
      </td>
      <td>
        8
      </td>
      <td>
        9
      </td>
    </tr>
  </table>
  <br/>
  <table border="">
    <tr>
      <td>
        <FONT COLOR="red">2</FONT>
      </td>
      <td>
        <FONT COLOR="red">3</FONT>
      </td>
      <td>
        4
      </td>
      <td>
        7
      </td>
      <td>
        8
      </td>
      <td>
        9
      </td>
    </tr>
  </table>
  <br/>
  <br/>
  Y asi terminamos de ordenar nuestro arreglo
</div>
<h3>Implementación</h3>
<hr/>
<br/>
<br/>
<pre style='color:#000020;background:#f6f8ff;'><span style='color:#200080; font-weight:bold; '>int</span> n<span style='color:#308080; '>=</span><span style='color:#008c00; '>6</span><span style='color:#406080; '>;</span>
<span style='color:#200080; font-weight:bold; '>int</span> arr<span style='color:#308080; '>[</span><span style='color:#008c00; '>6</span><span style='color:#308080; '>]</span><span style='color:#308080; '>=</span><span style='color:#406080; '>{</span><span style='color:#008c00; '>8</span><span style='color:#308080; '>,</span><span style='color:#008c00; '>3</span><span style='color:#308080; '>,</span><span style='color:#008c00; '>4</span><span style='color:#308080; '>,</span><span style='color:#008c00; '>7</span><span style='color:#308080; '>,</span><span style='color:#008c00; '>9</span><span style='color:#308080; '>,</span><span style='color:#008c00; '>2</span><span style='color:#406080; '>}</span>
<span style='color:#200080; font-weight:bold; '>void</span> bubbleSort<span style='color:#308080; '>(</span><span style='color:#308080; '>)</span>
<span style='color:#406080; '>{</span>
    <span style='color:#200080; font-weight:bold; '>for</span><span style='color:#308080; '>(</span><span style='color:#200080; font-weight:bold; '>int</span> a<span style='color:#308080; '>=</span><span style='color:#008c00; '>0</span><span style='color:#406080; '>;</span>a<span style='color:#308080; '>&lt;</span>n<span style='color:#406080; '>;</span>a<span style='color:#308080; '>+</span><span style='color:#308080; '>+</span><span style='color:#308080; '>)</span>
    <span style='color:#406080; '>{</span>
         <span style='color:#595979; '>//vamos a recorrer el arreglo n veces</span>
         <span style='color:#200080; font-weight:bold; '>for</span><span style='color:#308080; '>(</span><span style='color:#200080; font-weight:bold; '>int</span> b<span style='color:#308080; '>=</span><span style='color:#008c00; '>1</span><span style='color:#406080; '>;</span>b<span style='color:#308080; '>&lt;</span>n<span style='color:#308080; '>-</span>a<span style='color:#406080; '>;</span>b<span style='color:#308080; '>+</span><span style='color:#308080; '>+</span><span style='color:#308080; '>)</span>
         <span style='color:#406080; '>{</span>
              <span style='color:#200080; font-weight:bold; '>if</span><span style='color:#308080; '>(</span>arr<span style='color:#308080; '>[</span>b<span style='color:#308080; '>]</span><span style='color:#308080; '>&lt;</span>arr<span style='color:#308080; '>[</span>b<span style='color:#308080; '>-</span><span style='color:#008c00; '>1</span><span style='color:#308080; '>]</span><span style='color:#308080; '>)</span>        <span style='color:#595979; '>//comparamos los dos numeros y si el numero de la</span>
                 <span style='color:#003060; '>swap</span><span style='color:#308080; '>(</span>arr<span style='color:#308080; '>[</span>b<span style='color:#308080; '>]</span><span style='color:#308080; '>,</span>arr<span style='color:#308080; '>[</span>b<span style='color:#308080; '>-</span><span style='color:#008c00; '>1</span><span style='color:#308080; '>]</span><span style='color:#308080; '>)</span><span style='color:#406080; '>;</span>  <span style='color:#595979; '>//izquierda es mayor al de la derecha lo intercambiamos</span>
         <span style='color:#406080; '>}</span>
    <span style='color:#406080; '>}</span>
<span style='color:#406080; '>}</span>
</pre>
Una opcion si queremos hacer el algoritmo mas rapido es usando un validador para cuando el arreglo esta ordenado, esto se hace facilmente con una booleana
<pre style='color:#000020;background:#f6f8ff;'><span style='color:#200080; font-weight:bold; '>int</span> n<span style='color:#308080; '>=</span><span style='color:#008c00; '>6</span><span style='color:#406080; '>;</span>
<span style='color:#200080; font-weight:bold; '>int</span> arr<span style='color:#308080; '>[</span><span style='color:#008c00; '>6</span><span style='color:#308080; '>]</span><span style='color:#308080; '>=</span><span style='color:#406080; '>{</span><span style='color:#008c00; '>8</span><span style='color:#308080; '>,</span><span style='color:#008c00; '>3</span><span style='color:#308080; '>,</span><span style='color:#008c00; '>4</span><span style='color:#308080; '>,</span><span style='color:#008c00; '>7</span><span style='color:#308080; '>,</span><span style='color:#008c00; '>9</span><span style='color:#308080; '>,</span><span style='color:#008c00; '>2</span><span style='color:#406080; '>}</span>
<span style='color:#200080; font-weight:bold; '>void</span> bubbleSort<span style='color:#308080; '>(</span><span style='color:#308080; '>)</span>
<span style='color:#406080; '>{</span>
    <span style='color:#200080; font-weight:bold; '>for</span><span style='color:#308080; '>(</span><span style='color:#200080; font-weight:bold; '>int</span> a<span style='color:#308080; '>=</span><span style='color:#008c00; '>0</span><span style='color:#406080; '>;</span>a<span style='color:#308080; '>&lt;</span>n<span style='color:#406080; '>;</span>a<span style='color:#308080; '>+</span><span style='color:#308080; '>+</span><span style='color:#308080; '>)</span>
    <span style='color:#406080; '>{</span>
         <span style='color:#595979; '>//vamos a recorrer el arreglo n veces</span>
         <span style='color:#200080; font-weight:bold; '>bool</span> ordenado<span style='color:#308080; '>=</span><span style='color:#200080; font-weight:bold; '>true</span><span style='color:#406080; '>;</span>
         <span style='color:#200080; font-weight:bold; '>for</span><span style='color:#308080; '>(</span><span style='color:#200080; font-weight:bold; '>int</span> b<span style='color:#308080; '>=</span><span style='color:#008c00; '>1</span><span style='color:#406080; '>;</span>b<span style='color:#308080; '>&lt;</span>n<span style='color:#308080; '>-</span>a<span style='color:#406080; '>;</span>b<span style='color:#308080; '>+</span><span style='color:#308080; '>+</span><span style='color:#308080; '>)</span>
         <span style='color:#406080; '>{</span>
              <span style='color:#200080; font-weight:bold; '>if</span><span style='color:#308080; '>(</span>arr<span style='color:#308080; '>[</span>b<span style='color:#308080; '>]</span><span style='color:#308080; '>&lt;</span>arr<span style='color:#308080; '>[</span>b<span style='color:#308080; '>-</span><span style='color:#008c00; '>1</span><span style='color:#308080; '>]</span><span style='color:#308080; '>)</span>         <span style='color:#595979; '>//comparamos los dos numeros y si el numero de la</span>
              <span style='color:#406080; '>{</span>
                 <span style='color:#003060; '>swap</span><span style='color:#308080; '>(</span>arr<span style='color:#308080; '>[</span>b<span style='color:#308080; '>]</span><span style='color:#308080; '>,</span>arr<span style='color:#308080; '>[</span>b<span style='color:#308080; '>-</span><span style='color:#008c00; '>1</span><span style='color:#308080; '>]</span><span style='color:#308080; '>)</span><span style='color:#406080; '>;</span>   <span style='color:#595979; '>//izquierda es mayor al de la derecha lo intercambiamos</span>
                 ordenado<span style='color:#308080; '>=</span><span style='color:#200080; font-weight:bold; '>false</span><span style='color:#406080; '>;</span>          <span style='color:#595979; '>//avisamos que el arreglo no esta ordenado</span>
              <span style='color:#406080; '>}</span>                           
         <span style='color:#406080; '>}</span>
         <span style='color:#200080; font-weight:bold; '>if</span><span style='color:#308080; '>(</span>ordenado<span style='color:#308080; '>)</span>
              <span style='color:#200080; font-weight:bold; '>break</span><span style='color:#406080; '>;</span>                     <span style='color:#595979; '>//break es una funcion de c++ que te saca del ciclo</span>
    <span style='color:#406080; '>}</span>
<span style='color:#406080; '>}</span>
</pre>
<hr/>
