<h2>Busqueda Binaria</h2>
La <b> Busqueda binaria</b> es una tecnica util para encontrar un valor en un rango de forma rápida, siempre y cuanto se puede evaluar si una posicion esta antes o despues del valor buscado.
<br>
Para entender lo escrito arriba mejor, vamos a poner un problema de ejemplo.
<br>
<br>
Imagina que un dia estas jugando con un amigo a atinarle a un numero secreto entre $1$ y $100$, puedes preguntar si el numero secreto es menor o mayor que otro, pero hacer esa pregunta te penaliza 10 puntos.
<br>
Tu quieres jugar de forma que pierdas la mayor cantidad de puntos posibles. Asi que has ideado una estrategia que necesite la menor cantidad de preguntas.


