<h1>Selection Sort</h1>
El <b>bubble sort</b> es un algoritmo de ordenamiento conciderado entre los mas basicos, debido a su complejidad $O(N^{2})$ y a que tener la idea de como hacerlo es relativamente
facil ya que es la manera por la que en general ordenamos en la vida real. Segun su implimentacion puede usar 2 arreglos extra de memorial.
<br/>
<br/>
<h3>Explicacion</h3>
<hr/>
Digamos que tenemos un arreglo de enteros <FONT COLOR="gray">(aunque funciona para cualquier clase de datos)</FONT> \(A\) de tamaño $N$, si queremos ordenarlo de menor a mayor,
la forma en que funciona este algoritmo es  
<br/>